$myblack: #000000;
$mywhite: #FFFFFF;
$deeppink: #d20a76;
$bgColor: #f1f1f1;
$myblue: #00aeef;
$mygray: #808080;
$mygreen: #008000;
$bodyColor: #555;

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans&family=Noto+Serif&display=swap');

$headingFont: 'Noto Serif', serif;
$bodyFont: 'Lato', sans-serif;
